@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.padding-reset {
  padding: 0 !important; /* add !important to override global padding */
}

@media screen and (max-width: 640px) {
  .margin-reset {
    margin-left: 0 !important; /* add !important to override global padding */
  }
  
}


body {
  color: var(--foreground);
  background: var(--background);
  /* margin-left: 03%; */
  font-family: Arial, Helvetica, sans-serif;
}
